.corps {
  position : relative;
  height: 400px;
  
}

.logo {
  position: absolute;
  
  
}

.infos {
  position: absolute;
  text-align: center;
  top: 100px;
  left: 0px;
  right: 0px;
  
  
}


.footer {
  position: absolute;
  display: inline-block; 
  right: 0px;
  bottom: 0;
    
}

.footer img{
  width: 50px;
  height: 50px;
  
  
 }
  
  
  
  
  
  
